.MainContainer{
    display: flex;
    flex-direction: column;
}



/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.navigation{
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding: 0 1.25em;
}

.navigation li a {
    transition: all 0.3s ease 0s;
}
.header .headerbutton {
    width: 8em;
    height: 2.5em;
    border-radius: 1.5em;
    background-color: hsl(136, 65%, 51%);
    font-weight: 400;
    color: white;
    margin-top: 2%;
    border: none;
    outline:none;
    margin-bottom: 10%;
}

.header li ,.header a , .header button  {
    font-family:  'Public Sans', sans-serif;    
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
}

/* HEDER DROP DOWN BUTTON */

.dropbtn {
    display: none;
    padding: 1em;
    background-color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left:auto;
  } 
  
  .dropdown-content {
    display: none;
    position: absolute;

    background-color: white;
    width: 20em;
    height: 16em;
    border-radius: 0.5em;
    z-index: 1;
    margin-top: 4em;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'Public Sans', sans-serif;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* IMAGE DATA */

.image-data1{
    display: none;
    widows: 100%;
    height: 15em;
}

.image-background{
    background-image: url("./images/image-mockups.png") ,url("./images/bg-intro-mobile.svg");
    width: 100%;
    height: 100%;
    background-repeat:no-repeat, no-repeat;
    background-position: center;
    background-position-y: -6em,0;
    background-size: 16em;
}

/* BODY */

.feature{
    display: flex;
    background-color: rgba(0, 0, 0, 0.02);
    font-family: 'Public Sans', sans-serif;
    flex-direction: column;
}


/* INTRODUCTION */

.feature{
    display: flex;
    flex-direction: column;
}
.Intro{
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 35em;

}

.outer {
    display: flex;
    background-image:   url("./images/image-mockups.png"),url("./images/bg-intro-desktop.svg");
    background-repeat:  no-repeat , no-repeat;
    width: 100% ;
    height: 100%;
    background-size: 80% , 90%;
    background-position-x: 16.5em,12em;
    background-position-y: -7em;
}

.outer img{
    width: 10em;
    height: 10em;
}

.Intro-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width:50%;
    height: 20%;
}

.Intro .heading1{

    font-family: 'Public Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    padding-top: 20%;    
    padding-left: 20%;
}

.Intro .body1{

    font-family: 'Public Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20%;
    padding-bottom: 10%;
} 

 .Intro button {
    width: 12em;
    height: 3.5em;
    border-radius: 1.5em;
    background-color: hsl(136, 65%, 51%);
    font-weight: 900;
    color: white; 
    margin-top: 2%; 
    border: none;
    outline:none;
    margin-bottom: 10%;
    margin-left:20%;
}


/* DETAILS BLOCK*/
.detail{
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    padding-top: 5%;
    flex-wrap: wrap;
}

.detail p{
    margin-bottom: 4em;
}
.detail .heading2{

    font-family: 'Public Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}

.detail .body2{
    font-family: 'Public Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: rgba(0, 0, 1, 0.4);
}

/* CONTAINER SMALL BLOCKS */

.containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.containers div{
    width: 12em;
    height: 18em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containers div img{
    width: 5em;
    height: 5em;
}

.containers h1{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.25em;
    line-height: 0.1em;
    font-weight: 400;
}

.containers h6{
    font-family: 'Public Sans', sans-serif;
    font-size: 0.85em;
    line-height: 1.25em;
    font-weight: 300;
    color: rgba(0, 0, 1, 0.4)
}




/* ARTICLE TITLES NAME */


.ArticleTitle{
    margin-top: 7%;
    margin-bottom: 2%;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: 400;
}




/* ARTICLE BLOCKS */
.LatestArticle{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 85%;         
    height: 100%;
}

.LatestArticle div{
    width: 14em;
    height: 19em;
    display: flex;
    flex-direction: column;
}

.first p ,.second p ,.third p ,.fourth p{
    margin: 0.4em;
    font-size: 1em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: hsl(192, 70%, 51%);
}

.LatestArticle .first img , .LatestArticle .second img , .LatestArticle .third img , .LatestArticle .fourth img{
    width: 100%;
    height: 40%;
}

.first , .second , .third , .fourth{
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 10em;
    background-color: white;
}

.first span ,.second span ,.third span ,.fourth span{
    font-family: 'Public Sans', sans-serif;
    font-size: 0.725em;
    color: rgba(0, 0, 1, 0.4);
}


/* FOOTER  */

.footer{
    width: 90%;
    height: 6em;
    background-color:#0f3460;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;  
}

.footer .footer-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}
.footer .footer-logo .sub-logo{
    margin: auto;
}
.footer .navigation-footer1 ,.footer .navigation-footer2{
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    justify-content: space-between; 
    align-items: center;
}

.footer a , .footer .footerbutton {
    font-family:  'Public Sans', sans-serif;    
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
}

.footer .final-log{
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.footer .final-log a{
    font-size: 1em;
    margin: auto;
}

.footer .navigation-footer1 li{
    display: inline-block;
    padding: 0 1.25em;
}

.footer .navigation-footer1 li a{
    transition: all 0.3s ease 0s;
}

.footer button{
    width: 8em;
    height: 2.5em;
    border-radius: 1.5em;
    background-color: hsl(136, 65%, 51%);
    font-weight: 400;
    color: white;
    margin-top: 2%;
    border: none;
    outline:none;
    margin-bottom: 10%;
}


.header  ,.detail ,.ArticleTitle ,.LatestArticle{
    padding-left: 7.5%;
    padding-right: 7.5%;
}


@media screen and ( max-width:48em){
    
    .footer{
        height: 100%;
        flex-direction: column;
    }
    .footer .footer-logo img {
        margin: auto;
    }
    .footer .footer-logo .sub-logo{
        justify-content: center;
    }

    .Intro{
        flex-wrap: nowrap;
        align-items: center;
        width: 15em;
        margin: auto;
    }
    .detail{
        width: 79%;
        align-content: center;
        margin: 1em;
    }
    .containers{
        justify-content: center;
    }
    .containers div{
        justify-content: center;
    }
    
    .LatestArticle{
        width:95.5%;
        padding: 1em;
        justify-content: center;
    }
}


@media screen and ( max-width:51em){

    .dropbtn{
        display: flex;
        margin-left: 1em;
    }
    .header .headerbutton{
        display: none;
    }
    .header .navigation{
        display: none;
    }
    .ArticleTitle{
        margin: auto;
    }
    .image-data1{
        display: flex;
    }
    .outer{
        display: none;
    }
}
